/* ----- General Styling ----- */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 0.875rem;
  padding: 0;
  margin: 0;
}

.row {
    margin-left:0;
    margin-right:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul {
  padding-left: 1.875rem;
}

/* ----- Styling of the Game Board ----- */

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0.625rem;
}

.square {
    background: #fff;
    border: 0.25rem solid #000839;
    float: left;
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 10rem;
    height: 10rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0;
    text-align: center;
    width: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 8, 57, 0.75), 0 6px 10px 0 rgba(0, 8, 57, 0.75);
    -webkit-animation: square-spin 1.5s linear;
    -moz-animation: square-spin 1.5s linear;
    animation: square-spin 1.5s linear
}

.square:focus {
  outline: none;
}

@-webkit-keyframes square-spin {
  0%{transform:rotate(0deg)}to{transform:rotate(90deg);
}}

@keyframes square-spin {
  0%{transform:rotate(0deg)}to{transform:rotate(90deg);
}}

button {
    border: 2px solid #005082;
    color: #005082;
    font-weight: 600;
}

button.square[game-id="X"] {
    background-color: #ffa41b;
    /* Yellow */
    color: #005082;
    /* Blue */
    transform: scale(1.05);
}

button.square[game-id="O"] {
    background-color: #005082;
    /* Blue */
    color: #ffa41b;
    /* Yellow */
    transform: scale(1.05);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-info {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 3px dotted #00a8cc;
    font-size: 1rem;
    font-weight: 600;
    color: #00a8cc;
}

.game-status,
.logo {
    color: #005082;
    /* Blue */
}

.logo {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

.yellow-crater {
    color: #ffa41b;
    font-weight: 700;
}

.reset {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.reset-button {
    background-color: #fff;
    padding: 0.5rem;
}

.reset-button,
.reset-button:hover {
    border: 3px solid #00a8cc;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.reset-button:hover {
    background-color: #00a8cc;
    color: #fff;
}

#footer {
    background-color: #005082;
    border-color: #005082;
    color: #ffa41b;
    height: 30vh;
    text-align: center;
}

.footer-text {
    padding-top: 0;
}

.spacer {
    height: 10vh;
}

.logo-footer {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.win-outcome {
    color: #fff;
}

/*-------- Media Queries --------- */

@media (max-width:375px) {
    .square {
        height: 4rem;
        line-height: 4rem;
        width: 4rem;
    }
    .logo,
    .square {
        font-size: 3rem;
    }
    .footer-text {
        padding-top: 2rem;
    }
}
    
@media (max-width:667px) and (orientation:landscape) {
    .square {
        height: 4rem;
        line-height: 4rem;
        width: 4rem;
    }
    .logo,.square {
        font-size: 3rem;
    }
    #footer {
        height: 40vh;
    }
}